.flex-container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    height: calc(100% + 100px) !important;
    padding-left: 50px;
    flex-direction: row;
}

.flex-container.mobile {
    flex-direction: column;
    align-items: center;
}

@media (max-width: 950px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .flex-image {
        margin-right: 0px !important;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .flex-text {
        width: 100%;
        font-size: calc(1rem);
        align-items: center;
        background-color: rgba(221, 231, 242, 1);
        padding: 0 100% 0 100%;
    }

    .large-title {
        font-size: calc(2rem + 20px) !important;
    }

}

.flex-image {
    width: 500px;
    height: 500px;
    margin-right: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.flex-text {
    display: flex;
    height: 500px;
    width: 500px;
    align-items: flex-start;
    flex-direction: column;
}

.large-title {
    font-size: 4rem;
    font-weight: bold;
}

.links {
    font-size: 16px;
    display: flex;
    text-decoration: none;
    white-space: nowrap;
}

.links>a {
    text-decoration: none;
    display: flex;
    padding: 1rem 0 1rem 0;
    color: black;
    font-size: 1rem;
}

.fancy {
    color: #828282;
    padding: 1rem 0 1rem 0;
}