.Background {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/UI_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 768px) {
    .Background{
        background-size: contain;
    } 
}
