.NewsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.News-header {
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 10px 0px 50px 0px;
}

.News-Panel {
    display: flex;
    width: calc(100% - 100px);
    border-radius: 10px;
    height: calc(100% + 50px);
    flex-direction: row;
    background-color: #D0DDEC;
    justify-content: flex-start;
    align-items: center;
    margin: 0 50px 50px 50px;
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
}


.News-Content {
    width: 100%;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    padding-left: 10px;
}

.News-Panel:hover {
    background-color: rgba(144, 176, 213, 0.3);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
        -10px -10px 10px rgb(234, 238, 239);
}

.News-Date {
    color: #828282;
    width: 200px;
    padding: 10px 0px 10px 0px;
}

.News-Title {
    text-transform: uppercase;
    width: 200px;
    font-weight: bold;
    padding: 0px 0px 5px 0px;
}

.News-Title>a {
    text-decoration: none;
    color: #878ECD;
}

.News-Divider {
    width: 200px;
    padding: 1px;
    background-color: #878ECD;
}

.News-Description {
    color: #656CAF;
    width: 200px;
    padding: 5px 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}