body {
  width: auto;
  margin: 0;
  padding: auto;
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: auto;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}